@model PresenceCheck.Entities.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fbLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fbLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nbAbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nbAbs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nbDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nbDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yellowCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yellowCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.redCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.redCard)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
